/*-----------------------------------*\
 * #CUSTOM PROPERTIES
\*-----------------------------------*/

:root {
    /*COLORS - PRIMARY*/
    --clr-violet: hsl(257, 40%, 49%);
    --clr-soft-magenta: hsl(300, 69%, 71%);
    /* TYPOGRAPHY */
    --fs-body: 0.9375rem;
    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
    --fw-400: 400;
    --fw-600: 600;
    /*BORDERS*/
    --border-radius: 1.5rem;
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

/* Box sizing rules */
html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-----------------------------------*\
 * #BASE
\*-----------------------------------*/

body {
    background: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--clr-violet);
    color: white;
    padding: 1rem 2.2rem;
}

.main {
    font-family: var(--ff-body);
}

.footer {
    text-align: center;
}

/*-----------------------------------*\
 * #COMPONENTS
\*-----------------------------------*/

.intro {
    text-align: center;
    margin-bottom: 4rem;
}

.intro__header {
    margin-bottom: 0.8rem;
    font-family: var(--ff-headings);
}

.header__logo {
    max-width: 42%;
    margin-bottom: 3rem;
}

.intro__img {
    margin-bottom: 3.6rem;
}

.intro__text {
    font-family: var(--ff-body);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.intro__button {
    background: white;
    border-radius: var(--border-radius);
    padding: 0.6rem 4.5rem;
    font-size: 0.8rem;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}

.social__icon {
    flex: 1;
    max-width: 2rem;
    border: solid 1px white;
    border-radius: 50%;
    padding: 0.2rem;
}

.fa-brands {
    transform: translateY(2px);
}